# Ignore environment files
.env

# Ignore Python cache files
__pycache__/
*.pyc

# Ignore virtual environment
bot-env/

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore log files
*.log

# Other files or directories to ignore (add any other specific files you want to ignore)
__pycache__/
bot-env/
